.form-container {
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    overflow-y: scroll;
}

.form-wrapper {
    background-color: white;
    padding: 15px;
    flex-shrink: 0;
    border-radius: 10px;
}


.form-wrapper span {
    align-self: flex-end;
    cursor: pointer;
    font-size: 20px;
    transition: color 0.5s;
}

.form-wrapper span:hover {
    color: red;
}

.form h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}