.service-page-container{
    padding-top: 127px;
}
@media screen and (max-width:800px) {
    .service-page-container{
        padding-top: 106.5px;
    }
}
@media screen and (max-width:710px) {
    .service-page-container{
        padding-top: 63px;
    }
}