.home-page{
    padding-top: 127px;
}
@media screen and (max-width:800px) {
    .home-page{
        padding-top: 106.5px;
    }
}
@media screen and (max-width:710px) {
    .home-page{
        padding-top: 63px;
    }
}